<div class="container card">
    <div class="mx-1">
        
    <div class="row justify-content-center ">
        <h5 class="col-9 col-md-6 
        text-center  
        bg-dark
         rounded text-white
         py-1" >
            BI para maiores e menores de idade
        </h5>
    </div>
        <div class="row border 
            border-primary 
            bg-info rounded">
            <h6 class="ml-1 col-12 pt-1">Documento</h6>
        </div>
        <form class="form-group  mt-2">
            <div class="form-row" >
                       
                           
                            <div class="input-group col-md-6 col-12">
                                <label for="" class=" col-12 col-md-auto">Tipo de Documento:</label>
                              <select name="" id="" class="form-control col-12 col-md-auto  ">
                                    <option selected disabled
                                    value="">Novo ou Renovação</option>
                                    <option value="">Novo</option>
                                    <option value="">Renovação</option>
                                </select> 
                                <div class="input-group-prepend">
                                <div class="input-group-text bg-light">Opções</div>
                                </div>
                            </div>
                            
                   
                
                            <div class="input-group col-md-6 col-12 pt-4 pt-md-0">
                                <Label class="col-12 col-md-auto" for="">Modalidade:</Label>
                                <select name="" id="" class="form-control col-12 col-md-auto">
                                    <option selected disabled
                                    value="">Normal, Serviço, Diplomático</option>
                                    <option value="">Normal</option>
                                    <option value="">Serviço</option>
                                    <option value="">Diplomático</option>
                                </select>
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-light">Opções</div>
                                    </div>
                            </div>

                            <div class="form-row pt-4 col-12 col-md-auto">
                               <div class="input-group">
                                <label for="" class="col-12 col-md-auto">Taxa:</label>
                                <select name="" id="" class="form-control col-md-auto">
                                    <option value="" selected desabled >
                                        Normal, Urgente, Expresso
                                    </option>
                                    <option value="">Normal</option>
                                    <option value="">Urgente</option>
                                    <option value="">Expresso</option>
                                </select>
                                <div class="input-group-prepend ">
                                    <div class="input-group-text bg-light">Opções</div>
                                </div>
                               </div>
                            </div>
                    
               
                  
                
            </div>
            <div class="row border 
            border-primary 
            bg-info rounded mt-5">
            <h6 class="ml-1 col-12 pt-1">Dados Pessoais</h6>
        </div>

        <div class="form-row pt-2" >
                       
                           
            <div class="input-group col-md-6 col-12">
                <label for="" class=" col-12 col-md-auto">Nome Completo:</label>
              <input type="text" class="form-control col-12 col-md-auto">
            </div>
            
   

            <div class="input-group col-md-6 col-12 pt-4 pt-md-0">
                <Label class="col-12 col-md-auto" for="">Apelido: </Label>
                <input type="text" class="form-control col-12 col-md-auto">
            </div>
        </div>

         <div class="form-row pt-4">
            <div class="form-row col-12 col-md-6 pt-2 pt-md-0">
                <div class="input-group">
                 <label for="" class="col-12 col-md-auto">Data de Nascimento:</label>
                 <input type="date" class="form-control col-12 col-md-auto">
                </div>
             </div>
     
             <div class="input-group col-md-6 col-12 pt-4 pt-md-0" >
                 <label for="" class="col-12 col-md-auto">N° de Bilhete de Identificação:</label>
                 <input type="text" class="form-control col-12 col-md-auto ">
 
             </div>
         </div>

         <div class="form-row pt-4">
            <div class="input-group col-12 col-md-6 pt-md-0 pt-2">
                <label for=""class="col-12 col-md-auto">Data de Validade do BI: </label>
            <input type="Date" class="form-control col-12 col-md-auto">
            </div>

            <div class="input-group col-12 col-md-6 pt-md-0 pt-2">
                <label for=""class="col-12 col-md-auto">País de Nascimento: </label>
            <input type="Text" class="form-control col-12 col-md-auto">
            </div>
         </div>

         <div class="form-row pt-4">
            <div class="input-group col-12 col-md-6 pt-md-0 pt-2">
                <label for="" class="col-12 col-md-auto">Nacionalidade: </label>
                <input type="text" class="form-control col-12 col-md-auto">
            </div>
         </div>
  
         <div class="row border 
         border-primary 
         bg-info rounded mt-5">
         <h6 class="ml-1 col-12 pt-1">Endereço actual</h6>
        </div>

        <div class="form-row pt-2">

            <div class="input-group col-12 col-md-4 pt-mf-0 pt-2">
                <label for=""class="col-12 col-md-auto">Cidade: </label>
                <input type="text" class="col-12 col-md-auto form-control">
            </div>

            <div class="input-group col-12 col-md-4 pt-2 pt-md-0">
                    <label for="" class="col-12 col-md-auto">Distrito: </label>
                <select name="" id="" class=" form-control col-md-auto">
                    <option value="" selected disabled>Distrito</option>
                    <option value="">Matola</option>
                    <option value="">Maputo</option>
                </select>
                <div class="input-group-prepend">
                    <div class="input-group-text bg-light">Opções</div>
                    </div>
            </div>

            <div class="input-group col-12 col-md-4 pt-2 pt-md-0">
                <label for="" form class="col-12 col-md-auto">Bairro: </label>
                <input type="text" class="form-control col-12 col-md-auto">
            </div>

        </div>

        <div class="row border 
        border-primary 
        bg-info rounded mt-5">
        <h6 class="ml-1 col-12 pt-1">Agendamento:</h6>
        </div>


    <div class="form-row pt-2">
            <div class="input-group col-12 col-md-6">
                    <label for="" class="col-12 col-md-auto"> Motivo da viagem:</label>
                    <input type="text" class="form-control form-control-lg" >
            </div>

            <div class="input-group col-12 col-md-6">
                <label for=""class="col-12 col-md-auto"> Local onde pretende tratar documento: </label>
                <select name="" id="" class="col-12 col-md-auto form-control">
                    <option value="" selected disabled></option>
                    <option value="">Lisboa</option>
                    <option value="">Porto </option>
                </select>

            </div>
    </div>
    <div class="form-row pt-4">
        <div class="input-group col-12 col-md-8">
            <label for=""class="col-12 col-md-auto"> Data na qual pretende tratar o documento:</label>
            <input type="date" class="col-12 col-md-auto form-control">
        </div>

    </div>

    <div class="row border 
        border-primary 
        bg-info rounded mt-5">
        <h6 class="ml-1 col-12 pt-1">Contactos:</h6>
        </div>

        <div class="form-row pt-2" >
                       
                           
            <div class="input-group col-md-6 col-12">
                <label for="" class=" col-12 col-md-auto">Telemovel:</label>
              <input type="text" class="form-control col-12 col-md-auto">
            </div>
            
   

            <div class="input-group col-md-6 col-12 pt-4 pt-md-0">
                <Label class="col-12 col-md-auto" for="">Email: </Label>
                <input type="email" class="form-control col-12 col-md-auto">
            </div>
        </div>

        <div class="form-row pt-5 d-flex justify-content-end">
            
                <button type="button" class="btn btn-danger px-4 col-md-auto col-12 ml-3 mb-2">Cancelar</button>
                <button type="reset" class="btn btn-primary px-4 ml-3 mb-2 col-md-auto col-12">Limpar</button>
                <button type="submit" class="btn btn-success px-4 ml-3 col-md-auto col-12  mb-2">Submeter</button>
          
        </div>
        </form>

    

    </div>
</div>
